{%- if organizationUpdate -%}
OrganizationUpdate:
  Type: update-organization
  Template: ./organization.yml
{%- endif -%}

SsoAssignments:
  Type: update-stacks
  Template: {{ ssoAssignmentTemplate }}
  StackName: {{ stackName }}
  StackDescription: Manage SSO Assignments
